<%= form_with(model: period, local: true) do |form| %>
  <% if period.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(period.errors.count, "error") %> prohibited this period from being saved:</h2>

      <ul>
      <% period.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "曜日" %>
    <%= form.text_field :weekday, value: @target_weekday, readonly: true %>
  </div>

  <div class="field">
    <%= form.label "教科" %>
    <%= form.text_field :subject %>
  </div>

  <div class="field">
    <%= form.label "時間" %>
    <%= form.text_field :period_num, value: @target_period_num, readonly: true %>
  </div>

  <div class="field">
    <%= form.label "ユーザーID" %>
    <%= form.text_field :user_id, value: @user.id, readonly: true %>
  </div>

  <div class="actions">
    <%= form.submit "更新" %>
  </div>
<% end %>
