<p id="notice"><%= notice %></p>

<h1>時間割</h1>

<table border="1">
<tr>
  <th class="size" align="center" valign="top">時間</th>
  <th class="size" align="center" valign="top">月</th>
  <th class="size" align="center" valign="top">火</th>
  <th class="size" align="center" valign="top">水</th>
  <th class="size" align="center" valign="top">木</th>
  <th class="size" align="center" valign="top">金</th>
  <%= "<th class=\"size\" align=\"center\" valign=\"top\">土</th>".html_safe if @user&.show_saturday_flag %>
  <%= "<th class=\"size\" align=\"center\" valign=\"top\">日</th>".html_safe if @user&.show_sunday_flag %>
</tr>
<% @user.periods_per_day.times do |time| %>
  <%= "<tr>".html_safe %>
  <%=   "<td class=\"size\" align=\"left\" valign=\"top\">#{time + 1}時間目</td>".html_safe %>
  <%=   "<td class=\"size\" align=\"left\" valign=\"top\">#{monday(@user.periods, time)    || period_edit_link("mon", time + 1)}</th>".html_safe %>
  <%=   "<td class=\"size\" align=\"left\" valign=\"top\">#{tuesday(@user.periods, time)   || period_edit_link("tue", time + 1)}</th>".html_safe %>
  <%=   "<td class=\"size\" align=\"left\" valign=\"top\">#{wednesday(@user.periods, time) || period_edit_link("wed", time + 1)}</th>".html_safe %>
  <%=   "<td class=\"size\" align=\"left\" valign=\"top\">#{thursday(@user.periods, time)  || period_edit_link("thu", time + 1)}</th>".html_safe %>
  <%=   "<td class=\"size\" align=\"left\" valign=\"top\">#{friday(@user.periods, time)    || period_edit_link("fri", time + 1)}</th>".html_safe %>
  <%=   "<td class=\"size\" align=\"left\" valign=\"top\">#{saturday(@user.periods, time)  || period_edit_link("sat", time + 1)}</th>".html_safe if @user.show_saturday_flag %>
  <%=   "<td class=\"size\" align=\"left\" valign=\"top\">#{sunday(@user.periods, time)    || period_edit_link("sun", time + 1)}</th>".html_safe if @user.show_sunday_flag %>
<% end %>
</table>

<br>

<%= link_to 'ユーザー設定', edit_user_path(@user) %>

<%= link_to 'ログアウト', logout_path %>
