<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "ユーザーID" %>
    <%= form.text_field :name %>
    <%= form.label "パスワード" %>
    <%= form.password_field :password %>
    <%= form.label "一日の授業数" %>
    <%= form.number_field :periods_per_day %>
    <%= form.label "土曜日を表示" %>
    <%= form.check_box :show_saturday_flag %>
    <%= form.label "日曜日を表示" %>
    <%= form.check_box :show_sunday_flag %>
  </div>

  <div class="actions">
    <%= form.submit "更新" %>
  </div>
<% end %>
